html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(148, 153, 155);
  font-size: 20px;
  line-height: 1.15;
}

h1{
  font-size: 60px;
  padding: 30px 0;
  text-align: center;
}

h2{
  font-size: 40px;
}

.skip:focus a,
.skip:hover a {
  font-weight: bold;
}

.skip a {
  font-size: 24px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 60px;
}

.bio img {
  display: block;
  margin: 0 auto;
}


nav {
  background-color: rgb(148, 205, 224);
  padding: 20px 0;
  text-align: left; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

nav li {
  display: block; 
  margin-bottom: 10px; 
}

nav a {
  display: block; 
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px; 
}

nav a.active,
nav a:visited {
  border: 2px solid #333;
}

footer{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 30px;
  text-align: center;
}

nav a:hover, a:focus{
  text-decoration: underline;
}


*:focus {
  border: 2px solid rgb(14, 14, 15);
}

.campusGallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
}

.campusGallery img {
  width: 100%;
  height: auto;
}

.campusGallery figure {
  margin: 0;
}

.campusGallery figcaption {
  font-size: 20px;
  margin-top: 5px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}


.projectsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.projectsGallery figure {
  margin: 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.projectsGallery img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}
.projectsGallery figcaption {
  font-size: 20px;
  margin-top: 5px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}





@media screen and (min-width: 768px) {
  .campusGallery {
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    gap: 30px;
  }

  .campusGallery figure {
    margin: 0 10px;
  }

  .campusGallery figcaption {
    margin-top: 5px;
    font-size: 18px;
  }

  nav a {
    display: block; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px; 
    font-size: 24px; 
  }

  .projectsGallery {
    justify-content: center;
  }
  
  .projectsGallery figure {
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .projectsGallery figure:last-of-type {
    margin-right: 0;
  }

  
}

@media screen and (min-width: 1280px) {
  .campusGallery {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 40px;
  }

  .campusGallery figure {
    margin: 0 10px;
  }

  .campusGallery figcaption {
    margin-top: 5px;
    font-size: 24px;
  }

  nav li{
    display:inline;
    padding-right:20px;
  
  }
  
  nav a{
    display: inline;
    color: black;
    font-weight: bold;
    text-decoration: none; 
  }
  
  nav a.active,
  nav a:visited {
    border-bottom: 2px solid #333;
  }
  
  
  nav{
    background-color: rgb(148, 205, 224);
    padding: 20px 0; 
    text-align: right;
  }
  
  nav a:hover, a:focus{
    text-decoration: underline;
  }


  .projectsGallery {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
    justify-items: center;
  }
  
  .projectsGallery img {
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
  }
  
  .projectsGallery figure {
    margin: 0;
    max-width: 350px;
  }
  
  .projectsGallery figcaption {
    font-size: 24px;
    margin-top: 5px;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
  }





  


  

  

  
}












  





