html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(148, 153, 155);
  font-size: 20px;
  line-height: 1.15;
  font-family: sans-serif;
}

h1{
  font-size: 60px;
  padding: 30px 0;
  text-align: center;
  font-family: sans-serif;
}

h2{
  font-size: 40px;
  font-family: sans-serif;
}

figcaption a {
  color: rgb(115, 213, 226);
}

figcaption a:visited {
  color: rgb(226, 157, 220);
}

figcaption a:hover {
  font-weight: bold;
  font-family: sans-serif;
}

.lakegallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.lakegallery img {
  width: 33%;
  margin: 10px;
  border: 1px solid black;
}

.gallery-caption {
  text-align: center;
  font-size: 28px;
  margin-top: 5px;
  font-family: sans-serif;
}



.skip a:focus,
.skip a:hover {
  font-weight: bold;
  color: rgb(24, 22, 151);
  font-family: sans-serif;
}

.skip a {
  font-size: 24px;
  font-family: sans-serif;
  color: rgb(24, 22, 151);
}

.skip a {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.skip:focus-within a,
.skip:hover a,
.skip a:focus {
  position: static;
  top: auto;
  left: auto;
  font-weight: bold;
  font-family: sans-serif;
}





.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 60px;
  font-family: sans-serif;
}

.bio img {
  display: block;
  margin: 0 auto;
}


nav {
  background-color: rgb(148, 205, 224);
  padding: 20px 0;
  text-align: left; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

nav li {
  display: block; 
  margin-bottom: 10px; 
}

nav a {
  display: block; 
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  padding: 5px 10px; 
}

nav a.active,
nav a:visited {
  border: 2px solid #333;
}

footer{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 30px;
  text-align: center;
}

nav a:hover, a:focus{
  text-decoration: underline;
}



.campusgallery {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
}

.campusgallery img {
  width: 100%;
  height: auto;
}

.campusgallery figure {
  margin: 0;
}

.campusgallery figcaption {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 5px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}


.projectsgallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.projectsgallery figure {
  margin: 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.projectsgallery img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}
.projectsgallery figcaption {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 5px;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}





@media screen and (min-width: 768px) {
  .campusgallery {
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    gap: 30px;
  }

  .campusgallery figure {
    margin: 0 10px;
  }

  .campusgallery figcaption {
    margin-top: 5px;
    font-size: 18px;
    font-family: sans-serif;
  }

  nav a {
    display: block; 
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    padding: 15px 20px; 
    font-size: 24px; 
  }

  .projectsgallery {
    justify-content: center;
  }
  
  .projectsgallery figure {
    margin-right: 15px;
    margin-bottom: 0;
  }
  
  .projectsgallery figure:last-of-type {
    margin-right: 0;
  }

  
}

@media screen and (min-width: 1280px) {
  .campusgallery {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 40px;
  }

  .campusgallery figure {
    margin: 0 10px;
  }

  .campusgallery figcaption {
    margin-top: 5px;
    font-size: 24px;
    font-family: sans-serif;
  }

  nav li{
    display:inline;
    padding-right:20px;
  
  }
  
  nav a{
    display: inline;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none; 
  }
  
  nav a.active,
  nav a:visited {
    border-bottom: 2px solid #333;
  }
  
  
  nav{
    background-color: rgb(148, 205, 224);
    padding: 20px 0; 
    text-align: right;
  }
  
  nav a:hover, a:focus{
    text-decoration: underline;
  }


  .projectsgallery {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
    justify-items: center;
  }
  
  .projectsgallery img {
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
  }
  
  .projectsgallery figure {
    margin: 0;
    max-width: 350px;
  }
  
  .projectsgallery figcaption {
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 5px;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
  }





  


  

  

  
}












  





